<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div id="snippetContent">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Adding User</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">

                        <div class="md-form mb-4">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <input type="url" id="form2" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="form2">Upload your Image</label>
                        </div>

                        <div class="md-form mb-5">
                            <i class="fas fa-user prefix grey-text"></i>
                            <input type="text" id="form3" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="form3">Your name</label>
                        </div>

                        <div class="md-form mb-4">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <input type="text" id="form4" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="form4">Your summary</label>
                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button id="addUser" class="btn btn-primary">Submit<i
                                class="fas fa-paper-plane-o ml-1"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-md-3">
                <div class="panel text-center">
                    <div class="panel-body"> <img alt="https://bit.ly/2IcnSwz"
                            class="img-md img-circle img-border mar-btm" src="https://bit.ly/2IcnSwz">
                        <h4 class="mar-no">Name</h4>
                    </div>
                    <div class="pad-all">
                        <p class="text-muted"> Summary</p>
                        <div class="pad-btm">
                            {{!-- <button class="btn btn-primary" onclick="openform()">Add User</button> --}}
                            <a href="" class="btn btn-default btn-rounded mb-4 btn btn-primary" data-toggle="modal"
                                data-target="#modalSubscriptionForm">Add User</a>
                        </div>
                    </div>
                </div>
            </div>
            {{#if data}}
            <div class="row bootstrap snippets bootdeys">
                {{#each this.data}}
                <div class="col-md-3">
                    <div class="panel text-center">
                        <div class="panel-body"> <img alt="Avatar" class="img-md img-circle img-border mar-btm"
                                src={{this.img}}>
                            <h4 class="mar-no">{{this.name}}</h4>
                        </div>
                        <div class="pad-all">
                            <p class="text-muted"> {{this.summary}}</p>
                            <div class="pad-btm">
                                <input type="hidden" id="foo" name="zyx" value="{{this}}" />
                                <button id="edit" class="btn btn-primary" data-value="{{this}}">Edit</button>
                                <input type="hidden" id="foo" name="zyx" value="{{this}}" />
                                <button id="delete" class="btn btn-primary" data-value="{{this}}">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/if}}
        </div>

        <style type="text/css">
            body {
                margin-top: 20px;
                background: #ebeef0;
            }

            .panel {
                box-shadow: 0 2px 0 rgba(0, 0, 0, 0.075);
                border-radius: 0;
                border: 0;
                margin-bottom: 24px;
            }

            .panel .panel-heading,
            .panel>:first-child {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            .bg-primary,
            .bg-primary a {
                color: #fff;
            }

            .bg-primary {
                background-color: #5fa2dd;
            }

            .bg-success,
            .bg-success a {
                color: #fff;
            }

            .bg-success {
                background-color: #91c957;
            }

            .widget-header {
                padding: 15px 15px 50px 15px;
                min-height: 125px;
                position: relative;
                overflow: hidden;
            }

            .panel .panel-footer,
            .panel>:last-child {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            .widget-body {
                padding: 50px 15px 15px;
                position: relative;
            }

            .panel-body {
                padding: 25px 20px;
            }

            .pad-all {
                padding: 15px;
            }

            .widget-img {
                position: absolute;
                width: 64px;
                height: 64px;
                left: 50%;
                margin-left: -32px;
                top: -32px;
            }

            .img-md {
                width: 64px;
                height: 64px;
            }

            .widget-bg {
                position: absolute;
                top: 0;
                left: 0;
                min-width: 100%;
                min-height: 100%;
            }

            .img-border-light {
                box-shadow: 0 0 0 4px #fff;
            }

            .img-border {
                box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
            }

            .mar-no {
                margin: 0 !important;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            .h1,
            .h2,
            .h3,
            .h4,
            .h5,
            .h6 {
                font-weight: 600;
            }

            .text-muted,
            a.text-muted:hover,
            a.text-muted:focus,
            a.text-muted:focus {
                color: #606060;
            }

            .mar-btm {
                margin-bottom: 15px;
            }

            .pad-ver {
                padding-top: 15px;
                padding-bottom: 15px;
            }

            .pad-btm {
                padding-bottom: 15px;
            }

            .pad-top {
                padding-top: 8px;
            }

            .small,
            small {
                font-size: 65%;
            }

            .text-lg {
                font-size: 75%;
            }

            .btn {
                cursor: pointer;
                padding: 6px 12px;
                border-radius: 0;
                border: 1px solid 0;
                font-size: 11px;
                line-height: 1.42857;
                vertical-align: middle;
                -webkit-transition: all .25s;
                transition: all .25s;
            }
        </style>
        <script type="text/javascript"></script>
        <script>
            function openForm() {
                document.getElementById("modalSubscriptionForm").style.display = "block";
            }
        </script>
        <script>
            $(document).ready(function () {
                //Adding User
                $("#addUser").click(function () {
                    let data = {
                        name: $("#form3").val(),
                        img: $("#form2").val(),
                        summary: $("#form4").val()
                    }
                    console.log("data", data);
                    $.ajax({
                        url: "/",
                        method: "POST",
                        data: data,
                        success: function (result) {
                            if (result.d == true) {
                                //window.location = "//http://localhost:3000/";
                                window.location.href("http://localhost:3000/");
                            }
                        }
                    });
                });
                //Deleting User
                $("#delete").click(function () {
                    let data = $("input#foo").val();
                    console.log("data", data);
                    /*$.ajax({
                        url: "/",
                        method: "DELETE",
                        name: data,
                        success: function (result) {
                            console.log("Result DELETED");
                        }
                    });*/
                });
            });
        </script>
    </div>
</body>​

</html>